input {
  width: 100%
}

.slider {
  padding-right: 0px; 
  padding-top:5px;
}

.sliderlabel {
  padding-left: 5px;
}

.c3-circles-Moving-trend {
  display: none;
}

.c3-event-rect {
  fill: #d8d8d8;
  fill-opacity: 0.5;
}

#recalcbtn {
  margin-bottom: 10px
}
